/* ListFacultadesActivas.css */
.facultades-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
    font-family: Georgia, serif; /* Use Georgia font */
}

.facultades-heading {
    text-align: center;
    color: #333;
}

.error {
    color: red;
    text-align: center;
}

.facultades-list {
    list-style-type: none;
    padding: 0;
}

.facultades-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.facultades-item:last-child {
    border-bottom: none;
}

.facultades-item-container {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between; /* Space between items and buttons */
    align-items: center;
    margin-bottom: 10px; /* Space between containers */
}

.facultades-info {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Justify items to the start */
    flex: 1; /* Take up available space */
}

.facultades-icon {
    margin-right: 10px;
    color: #333;
}

.facultades-link {
    text-decoration: none;
    color: white;
    background-color: #333;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-size: 0.75em; /* Smaller font size */
    white-space: nowrap; /* Prevent text from wrapping */
}

.facultades-link:hover {
    background-color: #555;
}