/* Menu.css */
.menu-container {
    background-color: #3d7d3f; /* Verde profesional */
    height: 8vh; /* Ajusta el valor según tus necesidades */
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-family: 'Georgia', serif;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-family: 'Georgia', serif;
}

.dropdown {
    position: relative;
}

.dropdown-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1em; /* Ajusta el tamaño de la fuente */
    color: white;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    font-family: 'Georgia', serif; /* Asegura que use la fuente Georgia */
}

.dropdown-button:hover {
    background-color: #333; /* Updated hover color */
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(83, 85, 83, 0.2);
    z-index: 1;
    padding: 6px 0;
    min-width: 200px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    display: block;
    padding: 8px 16px;
}

.dropdown-menu li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s ease;
    font-family: 'Georgia', serif; /* Asegura que use la fuente Georgia */
    font-size: 1em; /* Ajusta el tamaño de la fuente */
}

.dropdown-menu li a:hover {
    background-color: #ddd;
}

.dropdown-item {
    margin-bottom: 10px; /* Reduce el espacio entre los elementos */
}

.dropdown-item:last-child {
    margin-bottom: 0;
}

.menu-link {
    color: white;
    text-decoration: none;
    padding: 4px 8px;
    transition: background-color 0.3s ease;
    font-size: 1em; /* Ajusta el tamaño de la fuente */
    font-family: 'Georgia', serif; /* Asegura que use la fuente Georgia */
}

.menu-link:hover {
    background-color: #333;
}

.home-link:hover {
    background-color: #333; /* Updated hover color */
}