.formContainer {
    max-width: 600px;
    margin: 20px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    font-family: 'Georgia', serif;
}

.addMateriaForm {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.formRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.formGroup {
    flex: 1;
    margin-right: 15px;
}

.formGroup:last-child {
    margin-right: 0;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 18px;
}

.formInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.formInput:focus {
    border-color: #29b64a;
    outline: none;
}

.reactSelectContainer {
    width: 100%;
}

.reactSelectContainer select {
    font-size: 12px;
    padding: 8px;
}

.buttonGroup {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.addButton, .backButton {
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.addButton {
    background-color: #29b64a;
    color: white;
}

.backButton {
    background-color: #3e3d3d;
    color: white;
}

.addButton:hover {
    background-color: #218838;
}

.backButton:hover {
    background-color: #626161;
}